{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  href="{% static 'css/style.css' %}">
  <title>AILicenseReader</title>
</head>

<body>

  <header>
    <h1>
      <a href="#">AI License Reader</a>
    </h1>
  </header>

  <main>
    <form>
      <h3>書類の種類</h3>
      <select name="license" class="license">
        <option value="license1">保険証</option>
        <option value="license2">運転免許証</option>
        <option value="license3">電気工事士資格証</option>
      </select>
      <h3>読込画像の選択</h3>

      <!-- フォーム -->
      <input type="file" name="logo" class="form" accept=".jpg, .jpeg, .png, .gif">

      <!-- フォームで選択した画像を表示するimgタグ -->
      <img id="img" src="{% static 'image/アップロード.png' %}">

      <div class="readbtn">
        <button type="button">
          <a class="btn">画像読込</a>
        </button>
      </div>

    </form>

    <div class="container">      
      <div class="table">
        <h3>読込結果</h3>
        <table class="item-table">
          <tr>
            <th class="th-beige">交付日</th>
            <td class="td-beige">2024年6月4日</td>
          </tr>
          <tr>
            <th>記号</th>
            <td>2170023</td>
          </tr>
          <tr>
            <th class="th-beige">番号</th>
            <td class="td-beige">1</td>
          </tr>
          <tr>
            <th>枝番</th>
            <td>00</td>
          </tr>
          <tr>
            <th class="th-beige">氏名</th>
            <td class="td-beige">協会 太郎</td>
          </tr>
          <tr>
            <th>生年月日</th>
            <td>平成元年5月10日</td>
          </tr>
          <tr>
            <th class="th-beige">性別</th>
            <td class="td-beige">男</td>
          </tr>
          <tr>
            <th>資格取得年月日</th>
            <td>令和2年4月1日</td>
          </tr>
          <tr>
            <th class="th-beige">事業所名称</th>
            <td class="td-beige">株式会社〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</td>
          </tr>
          <tr>
            <th>保険者番号</th>
            <td>99999999</td>
          </tr>
          <tr>
            <th class="th-beige">保険者名称</th>
            <td class="td-beige">全国健康保険協会 〇〇〇〇支部</td>
          </tr>
          <tr>
            <th>保険者所在地</th>
            <td>静岡県駿東郡清水町伏見385-2</td>
          </tr>
        </table>
      </div>

      <div class="itembtn">
        <div>
          <button type="button">
            <a class="btn1">CSVダウンロード</a>
          </button>
        </div>
        <div>
          <button type="button">
            <a class="btn2">PDFダウンロード</a>
          </button>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p id="copyright">
      お問い合わせ：<a href="mailto:s.uehara@ace-techno.com?subject=AI License Reader お問い合わせ">s.uehara@ace-techno.com</a><br>
      &copy;2024-ace-techno.co.ltd
    </p>
  </footer>

</body>

</html>